Checks: >
  clang-analyzer-*,
  bugprone-*,
  performance-*,
  readability-*,
  modernize-*,
  cppcoreguidelines-*,
  -cppcoreguidelines-avoid-magic-numbers,
  -modernize-use-trailing-return-type,
  -readability-function-cognitive-complexity,
  -readability-magic-numbers,
  -readability-identifier-length,
  -readability-implicit-bool-conversion

HeaderFilterRegex: '.*(src|tests)/.*'
WarningsAsErrors: ''
FormatStyle: file
CheckOptions:
  - key: readability-identifier-naming.DefaultCase
    value: lower_case
  - key: readability-identifier-naming.MemberSuffix
    value: _
  - key: readability-identifier-naming.MacroDefinitionCase
    value: UPPER_CASE
