# EditorConfig is awesome: https://editorconfig.org

# top-most EditorConfig file
root = true

# Unix-style newlines with a newline ending every file
[*]
end_of_line = lf
insert_final_newline = true
indent_style = space
trim_trailing_whitespace = true

# vcpkg uses windows line endings
[external/vcpkg/**/*]
end_of_line = crlf

# 4 space indentation
[*.{cpp,hpp}]
indent_size = 4
