name: CI

on:
  push:
    branches:
      - main
      - master
  pull_request:

jobs:
  build-and-test:
    runs-on: ubuntu-latest

    env:
      CMAKE_TOOLCHAIN_FILE: "./external/vcpkg/scripts/buildsystems/vcpkg.cmake"

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          submodules: true

      - name: Prepare cache directories
        run: |
          mkdir -p ~/.cache/vcpkg/archives
          mkdir -p build/ninja-multi/vcpkg_installed

      - name: Cache vcpkg artifacts
        uses: actions/cache@v4
        with:
          path: |
            ~/.cache/vcpkg/archives
            build/ninja-multi/vcpkg_installed
          key: ${{ runner.os }}-vcpkg-${{ hashFiles('vcpkg.json') }}
          restore-keys: |
            ${{ runner.os }}-vcpkg-

      - name: Install dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y ninja-build g++ liburing-dev

      - name: Setup CMake
        uses: jwlawson/actions-setup-cmake@v2

      - name: Dashboard Build
        uses: chorse-dev/cmake-action@master
        with:
          # build-name: ${{ matrix.conf.build-name }}
          # change-id: ${{ steps.checkout.outputs.commit }}
          # config-options: ${{ matrix.conf.config-options }}
          # coverage-command: ${{ matrix.conf.coverage-command }}
          # memorycheck-command: ${{ matrix.conf.memorycheck-command }}
          # memorycheck-type: ${{ matrix.conf.memorycheck-type }}
          submit-url: "https://my.cdash.org/submit.php?project=heos2mqtt"
