name: CI

on:
  push:
    branches:
      - main
      - master
  pull_request:

jobs:
  build-and-test:
    strategy:
      fail-fast: false
      matrix:
        include:
          - name: ASan Ubuntu x86
            runs-on: ubuntu-24.04
            memorycheck-type: AddressSanitizer
            cxxflags: -fno-omit-frame-pointer -fsanitize=address
          - name: UBSan Ubuntu ARM
            runs-on: ubuntu-24.04-arm
            memorycheck-type: UndefinedBehaviorSanitizer
            cxxflags: -fno-omit-frame-pointer -fsanitize=undefined
          - name: Clang Tidy
            runs-on: ubuntu-24.04
            config-options: -DCMAKE_CXX_CLANG_TIDY=clang-tidy
            dependencies: clang

    env:
      CMAKE_TOOLCHAIN_FILE: "./external/vcpkg/scripts/buildsystems/vcpkg.cmake"
      CXXFLAGS: -Wall -Wextra -Wpedantic ${{ matrix.cxxflags }}

    name: ${{ matrix.name }}
    runs-on: ${{ matrix.runs-on }}

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          submodules: true

      - name: Prepare cache directories
        run: |
          mkdir -p ~/.cache/vcpkg/archives
          mkdir -p build/ninja-multi/vcpkg_installed

      - name: Cache vcpkg artifacts
        uses: actions/cache@v4
        with:
          path: |
            ~/.cache/vcpkg/archives
            build/ninja-multi/vcpkg_installed
          key: ${{ runner.os }}-${{ runner.arch }}-vcpkg-${{ hashFiles('vcpkg.json') }}-${{ matrix.cxxflags }}
          restore-keys: |
            ${{ runner.os }}-${{ runner.arch }}-vcpkg-

      - name: Install dependencies
        if: runner.os == 'Linux'
        run: |
          sudo apt-get update
          sudo apt-get install -y ninja-build g++ liburing-dev ${{ matrix.dependencies }}

      - name: Setup CMake
        uses: tomjakubowski/actions-setup-cmake@aarch64
        # TODO above fork contains fix for ARM, use jwlawson/actions-setup-cmake once merged

      - name: Dashboard Build
        uses: chorse-dev/cmake-action@master
        with:
          build-name: ${{ matrix.name }}
          # change-id: ${{ steps.checkout.outputs.commit }}
          config-options: ${{ matrix.config-options }}
          coverage-command: ${{ matrix.coverage-command }}
          # memorycheck-command: ${{ matrix.conf.memorycheck-command }}
          memorycheck-type: ${{ matrix.memorycheck-type }}
          submit-url: "https://my.cdash.org/submit.php?project=heos2mqtt"
